body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

/*.sidebar {*/
  /*position: fixed;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*z-index: 100; !* Behind the navbar *!*/
  /*padding: 48px 0 0; !* Height of navbar *!*/
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
/*}*/

/*.sidebar-sticky {*/
  /*position: relative;*/
  /*top: 0;*/
  /*height: calc(100vh - 48px);*/
  /*padding-top: .5rem;*/
  /*overflow-x: hidden;*/
  /*overflow-y: auto; !* Scrollable contents if viewport is shorter than content. *!*/
/*}*/

/*@supports ((position: -webkit-sticky) or (position: sticky)) {*/
  /*.sidebar-sticky {*/
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
  /*}*/
/*}*/

/*.sidebar .nav-link {*/
  /*font-weight: 500;*/
  /*color: white;*/
/*}*/

/*.sidebar .nav-link .feather {*/
  /*margin-right: 4px;*/
  /*color: #999;*/
/*}*/

/*.sidebar .nav-link.active {*/
  /*color: #007bff;*/
/*}*/
/*.sidebar .nav-link .nav-icon {*/
  /*display: inline-block;*/
  /*width: 1.09375rem;*/
  /*margin: 0 0.5rem 0 0;*/
  /*font-size: 0.875rem;*/
  /*color: #73818f;*/
  /*text-align: center;*/
/*}*/
/*.sidebar .nav-link:hover .feather,*/
/*.sidebar .nav-link.active .feather {*/
  /*color: inherit;*/
/*}*/

/*.sidebar-heading {*/
  /*font-size: .75rem;*/
  /*text-transform: uppercase;*/
/*}*/
.sidebar .sidebar-close {
  position: absolute;
  right: 0;
  display: none;
  padding: 0 1rem;
  font-size: 24px;
  font-weight: 800;
  line-height: 55px;
  color: #fff;
  background: 0;
  border: 0;
  opacity: .8;
}

.sidebar .sidebar-close:hover {
  opacity: 1;
}

.sidebar .sidebar-header {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0.75rem 1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-form .form-control {
  color: #fff;
  background: #181b1e;
  border: 0;
}

.sidebar .sidebar-form .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-form .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-form .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-form .form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-form .form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-nav {
  position: relative;
  -ms-flex: 1;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 200px;
}

.sidebar .nav {
  width: 200px;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
}

.sidebar .nav-title {
  padding: 0.75rem 1rem;
  font-size: 80%;
  font-weight: 700;
  color: #e4e7ea;
  text-transform: uppercase;
}

.sidebar .nav-divider {
  height: 10px;
}

.sidebar .nav-item {
  position: relative;
  margin: 0;
  transition: background .3s ease-in-out;
}

.sidebar .nav-dropdown-items {
  max-height: 0;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  transition: max-height .3s ease-in-out;
}

.sidebar .nav-dropdown-items .nav-item {
  padding: 0;
  list-style: none;
}

.sidebar .nav-link {
  display: block;
  padding: 0.75rem 1rem;
  color: #fff;
  text-decoration: none;
  background: transparent;
}

.sidebar .nav-link .nav-icon {
  display: inline-block;
  width: 1.09375rem;
  margin: 0 0.5rem 0 0;
  font-size: 0.875rem;
  color: #73818f;
  text-align: center;
}

.sidebar .nav-link .badge {
  float: right;
  margin-top: 2px;
}

.sidebar .nav-link.active {
  color: #fff;
  background: #3a4248;
}

.sidebar .nav-link.active .nav-icon {
  color: #20a8d8;
}

.sidebar .nav-link:hover {
  color: #fff;
  background: #20a8d8;
}

.sidebar .nav-link:hover .nav-icon {
  color: #fff;
}

.sidebar .nav-link:hover.nav-dropdown-toggle::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

.sidebar .nav-link.disabled {
  color: #b3b3b3;
  cursor: default;
  background: transparent;
}

.sidebar .nav-link.disabled .nav-icon {
  color: #73818f;
}

.sidebar .nav-link.disabled:hover {
  color: #b3b3b3;
}

.sidebar .nav-link.disabled:hover .nav-icon {
  color: #73818f;
}

.sidebar .nav-link.disabled:hover.nav-dropdown-toggle::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

.sidebar .nav-link.nav-link-primary {
  background: #20a8d8;
}

.sidebar .nav-link.nav-link-primary .nav-icon {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-primary:hover {
  background: #1d97c2;
}

.sidebar .nav-link.nav-link-primary:hover i {
  color: #fff;
}

.sidebar .nav-link.nav-link-secondary {
  background: #c8ced3;
}

.sidebar .nav-link.nav-link-secondary .nav-icon {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-secondary:hover {
  background: #bac1c8;
}

.sidebar .nav-link.nav-link-secondary:hover i {
  color: #fff;
}

.sidebar .nav-link.nav-link-success {
  background: #4dbd74;
}

.sidebar .nav-link.nav-link-success .nav-icon {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-success:hover {
  background: #41af67;
}

.sidebar .nav-link.nav-link-success:hover i {
  color: #fff;
}

.sidebar .nav-link.nav-link-info {
  background: #63c2de;
}

.sidebar .nav-link.nav-link-info .nav-icon {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-info:hover {
  background: #4ebada;
}

.sidebar .nav-link.nav-link-info:hover i {
  color: #fff;
}

.sidebar .nav-link.nav-link-warning {
  background: #ffc107;
}

.sidebar .nav-link.nav-link-warning .nav-icon {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-warning:hover {
  background: #edb100;
}

.sidebar .nav-link.nav-link-warning:hover i {
  color: #fff;
}

.sidebar .nav-link.nav-link-danger {
  background: #f86c6b;
}

.sidebar .nav-link.nav-link-danger .nav-icon {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-danger:hover {
  background: #f75453;
}

.sidebar .nav-link.nav-link-danger:hover i {
  color: #fff;
}

.sidebar .nav-link.nav-link-light {
  background: #f0f3f5;
}

.sidebar .nav-link.nav-link-light .nav-icon {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-light:hover {
  background: #e1e7eb;
}

.sidebar .nav-link.nav-link-light:hover i {
  color: #fff;
}

.sidebar .nav-link.nav-link-dark {
  background: #2f353a;
}

.sidebar .nav-link.nav-link-dark .nav-icon {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-dark:hover {
  background: #24282c;
}

.sidebar .nav-link.nav-link-dark:hover i {
  color: #fff;
}

.sidebar .nav-dropdown-toggle {
  position: relative;
}

.sidebar .nav-dropdown-toggle::before {
  position: absolute;
  top: 50%;
  right: 1rem;
  display: block;
  width: 8px;
  height: 8px;
  padding: 0;
  margin-top: -4px;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.sidebar .nav-dropdown-toggle .badge {
  margin-right: 16px;
}

.sidebar .nav-dropdown.open {
  background: rgba(0, 0, 0, 0.2);
}

.sidebar .nav-dropdown.open > .nav-dropdown-items {
  max-height: 1500px;
}

.sidebar .nav-dropdown.open .nav-link {
  color: #fff;
  border-left: 0;
}

.sidebar .nav-dropdown.open .nav-link.disabled {
  color: #b3b3b3;
  background: transparent;
}

.sidebar .nav-dropdown.open .nav-link.disabled:hover {
  color: #b3b3b3;
}

.sidebar .nav-dropdown.open .nav-link.disabled:hover .nav-icon {
  color: #73818f;
}

.sidebar .nav-dropdown.open > .nav-dropdown-toggle::before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.sidebar .nav-dropdown.open .nav-dropdown.open {
  border-left: 0;
}

.sidebar .nav-label {
  display: block;
  padding: 0.09375rem 1rem;
  color: #e4e7ea;
}

.sidebar .nav-label:hover {
  color: #fff;
  text-decoration: none;
}

.sidebar .nav-label .nav-icon {
  width: 20px;
  margin: -3px 0.5rem 0 0;
  font-size: 10px;
  color: #73818f;
  text-align: center;
  vertical-align: middle;
}

.sidebar .progress {
  background-color: #515c64 !important;
}

.sidebar .sidebar-footer {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0.75rem 1rem;
  background: rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-minimizer {
  position: relative;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
}

.sidebar .sidebar-minimizer::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12.5px;
  transition: .3s;
}

.sidebar .sidebar-minimizer:focus, .sidebar .sidebar-minimizer.focus {
  outline: 0;
}

.sidebar .sidebar-minimizer:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebar .sidebar-minimizer:hover::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

@media (min-width: 992px) {
  .sidebar-compact .sidebar .sidebar-nav {
    width: 150px;
  }
  .sidebar-compact .sidebar .nav {
    width: 150px;
  }
  .sidebar-compact .sidebar .d-compact-none {
    display: none;
  }
  .sidebar-compact .sidebar .nav-title {
    text-align: center;
  }
  .sidebar-compact .sidebar .nav-item {
    width: 150px;
    border-left: 0;
  }
  .sidebar-compact .sidebar .nav-link {
    text-align: center;
  }
  .sidebar-compact .sidebar .nav-link .nav-icon {
    display: block;
    width: 100%;
    margin: 0.25rem 0;
    font-size: 24px;
  }
  .sidebar-compact .sidebar .nav-link .badge {
    position: absolute;
    top: 18px;
    right: 10px;
  }
  .sidebar-compact .sidebar .nav-link.nav-dropdown-toggle::before {
    top: 30px;
  }
  .sidebar-minimized .sidebar {
    z-index: 1019;
  }
  .sidebar-minimized .sidebar .sidebar-nav {
    overflow: visible;
    width: 50px;
  }
  .sidebar-minimized .sidebar .nav {
    width: 50px;
  }
  .sidebar-minimized .sidebar .d-minimized-none,
  .sidebar-minimized .sidebar .nav-divider,
  .sidebar-minimized .sidebar .nav-label,
  .sidebar-minimized .sidebar .nav-title,
  .sidebar-minimized .sidebar .sidebar-footer,
  .sidebar-minimized .sidebar .sidebar-form,
  .sidebar-minimized .sidebar .sidebar-header {
    display: none;
  }
  .sidebar-minimized .sidebar .sidebar-minimizer {
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: #24282c;
  }
  .sidebar-minimized .sidebar .sidebar-nav {
    padding-bottom: 50px;
  }
  .sidebar-minimized .sidebar .sidebar-minimizer::before {
    width: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .sidebar-minimized .sidebar .nav-item {
    width: 50px;
    overflow: hidden;
  }
  .sidebar-minimized .sidebar .nav-item:hover {
    width: 250px;
    overflow: visible;
  }
  .sidebar-minimized .sidebar .nav-item:hover > .nav-link {
    background: #20a8d8;
  }
  .sidebar-minimized .sidebar .nav-item:hover > .nav-link .nav-icon {
    color: #fff;
  }
  .sidebar-minimized .sidebar .nav-item:hover > .nav-link.disabled {
    background: #2f353a;
  }
  .sidebar-minimized .sidebar .nav-item:hover > .nav-link.disabled .nav-icon {
    color: #73818f;
  }
  .sidebar-minimized .sidebar .nav-link {
    position: relative;
    padding-left: 0;
    margin: 0;
    white-space: nowrap;
    border-left: 0;
  }
  .sidebar-minimized .sidebar .nav-link .nav-icon {
    display: block;
    float: left;
    width: 50px;
    font-size: 18px;
  }
  .sidebar-minimized .sidebar .nav-link .badge {
    position: absolute;
    right: 15px;
    display: none;
  }
  .sidebar-minimized .sidebar .nav-link:hover {
    width: 250px;
    background: #20a8d8;
  }
  .sidebar-minimized .sidebar .nav-link:hover .badge {
    display: inline;
  }
  .sidebar-minimized .sidebar .nav-link.nav-dropdown-toggle::before {
    display: none;
  }
  .sidebar-minimized .sidebar .nav-dropdown-items .nav-item {
    width: 200px;
  }
  .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
    width: 200px;
  }
  .sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items {
    display: none;
    max-height: 1000px;
    background: #2f353a;
  }
  .sidebar-minimized .sidebar .nav > .nav-dropdown:hover {
    background: #20a8d8;
  }
  .sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-items {
    position: absolute;
    left: 50px;
    display: inline;
  }
  *[dir="rtl"] .sidebar-minimized .sidebar .nav {
    list-style-image: url("data:,");
  }
  *[dir="rtl"] .sidebar-minimized .sidebar .nav .divider {
    height: 0;
  }
  *[dir="rtl"] .sidebar-minimized .sidebar .sidebar-minimizer::before {
    width: 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  *[dir="rtl"] .sidebar-minimized .sidebar .nav-link {
    padding-right: 0;
  }
  *[dir="rtl"] .sidebar-minimized .sidebar .nav-link .nav-icon {
    float: right;
  }
  *[dir="rtl"] .sidebar-minimized .sidebar .nav-link .badge {
    right: auto;
    left: 15px;
  }
  *[dir="rtl"] .sidebar-minimized .sidebar .nav-link:hover .badge {
    display: inline;
  }
  *[dir="rtl"] .sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items {
    display: none;
    max-height: 1000px;
    background: #2f353a;
  }
  *[dir="rtl"] .sidebar-minimized .sidebar .nav > .nav-dropdown:hover {
    background: #20a8d8;
  }
  *[dir="rtl"] .sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-items {
    position: absolute;
    left: 0;
    display: inline;
  }
}

*[dir="rtl"] .sidebar .nav-dropdown-toggle::before {
  position: absolute;
  right: auto;
  left: 1rem;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

*[dir="rtl"] .sidebar .nav-dropdown.open > .nav-dropdown-toggle::before {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

*[dir="rtl"] .sidebar .nav-link .nav-icon {
  margin: 0 0 0 0.5rem;
}

*[dir="rtl"] .sidebar .nav-link .badge {
  float: left;
  margin-top: 2px;
}

*[dir="rtl"] .sidebar .nav-link.nav-dropdown-toggle .badge {
  margin-right: auto;
  margin-left: 16px;
}

*[dir="rtl"] .sidebar .sidebar-minimizer::before {
  right: auto;
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

*[dir="rtl"] .sidebar-toggler {
  margin-right: 0 !important;
}
/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.app-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1rem;
  color: #23282c;
  background: #f0f3f5;
  border-top: 1px solid #c8ced3;
}